<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>O Maravilhoso Mundo de Layouts do Professor Ícaro</title>
</head>
<body>
    <div id="Titulo" class="blu">
        <h2> O Maravilhoso Mundo de Layouts do Professor Ícaro</h2>
    </div>
    <p id="Titulo" class="blu"><a href="primeiro.html">primeiro</a></p>
    <div class="white">
    
        <!-- primeiro -->
        <div class="blu">
           
            <div class="flex">

                <div>
                    <div class="yo"></div>
                    <div class="flex">
                        <div>
                            <div class="flex">
                                <div class="yo"></div>
                                <div class="yo"></div>
                            </div>
                            <div class="yo"></div>
                        </div>
                        <div class="yo"></div>
                    </div> 
                </div> 
                
                <div class="flex"></div>
            </div>
            
        </div>

        <!-- segundo -->
        <div class="blu">
            <div class="flex">
                <div class="yo"></div>
                <div class="yo"></div>
                <div class="yo"></div>
            </div>
            <div class="yo"></div>
            <div class="flex">
                <div class="yo green"></div>
                <div class="yo"></div>
            </div>

        </div>

        <!-- terceiro -->
        <div class="blu">
            <div class="flex">
                <div class="yo"></div>
                <div>
                    <div class="yo"></div>
                    <div class="flex">
                        <div class="yo red"></div>
                        <div class="yo red"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- quarto -->
        <div class="blu">
            <div class="flex">
                <div class="yo"></div>
                
                <div>
                    <div class="yo"></div>
                    <div class="yo red "></div>
                </div>
                <div class="yo"></div>
    
            </div>
        </div>

        <!-- quinto -->

        <div class="blu">
            <div class="flex">
                <div>
                    <div class="flex">
                        <div class="yo"></div>
                        <div class="yo"></div>
                    </div>
                    <div class="yo red"></div>
                </div>
                
                <div class="yo"></div>
            </div>
        </div>

        <!-- sexto -->
        <div class="blu">
            <div class="flex">
                <div class="yo"></div>
                <div class="yo"></div>
                <div class="yo"></div>
            </div>
            <div class="yo"></div>
            <div class="flex">
                <div class="yo green"></div>
                <div class="yo"></div>
            </div>

        </div>

        <!-- setimo -->
        <div class="blu">
            <div class="flex">
                <div>
                    <div class="yo"></div>
                    <div class="yo red "></div>
                </div>
                <div>
                    <div class="flex">
                        <div class="yo red"></div>
                        <div class="yo red"></div>
                    </div>
                    <div class="yo"></div>
                </div>
            </div>
        </div>

        <!-- setimo -->
        <div class="blu">
            <div>
                <div class="flex">
                    <div class="yo"></div>
                </div>
                
                <div class="flex">
                    <div class="yo red"></div>
                    <div class="yo red"></div>
                    <div class="yo red"></div>
                </div>
                
            </div>
        </div>

        <!-- oitavo -->
        <div class="blu">
            <div>
                <div class="yo"></div>
    
                <div class="flex">
                    <div class="yo"></div>
                    <div>
                        <div class="yo"></div>
                        <div class="yo"></div>
                    </div>
                    <div class="yo"></div>
                </div>
                
            </div>
        </div>
        
        <!-- nono -->
        <div class="blu">
            <div>
                <div class="yo"></div>
    
                <div class="flex">
                    <div>
                        <div class="yo"></div>
                        <div class="flex">
                            <div class="yo"></div>
                            <div class="yo"></div>
                        </div>
                    </div>
                    <div class="yo"></div>
                </div>
            </div>
        </div>

        <!-- decimo -->
        <div class="blu">
            <div>
                <div class="flex">
                    <div>
                        <div class="yo green"></div>
                        <div class="yo green"></div>
                    </div>
                    <div class="yo"></div>
                </div>
                <div class="flex">
                    <div class="yo"></div>
                    <div class="yo green"></div>
                </div>
            </div>
        </div>

        <!-- onze -->
        <div class="blu">
            <div>
                <div class="flex">
                    <div>
                        <div class="yo green"></div>
                        <div class="yo green"></div>
                    </div>
                    <div class="yo"></div>
                </div>
                <div class="flex">
                    <div class="yo"></div>
                    <div class="yo green"></div>
                </div>
            </div>
        </div>

        <!-- treze -->
        <div class="blu">
            <div class="flex">
                <div class="yo"></div>
                <div>
                    <div class="yo"></div>
                    <div class="flex">
                        <div class="yo"></div>
                        <div class="yo"></div>
                    </div>
                    <div class="yo"></div>
                </div> 
                
            </div>
        </div>

        <!-- quatorze -->
        <div class="blu">
           <div>
            <div class="flex">
                <div class="yo"></div>
                <div class="yo green"></div>
            </div>
            <div class="flex">
                <div class="yo green"></div>
                <div class="yo"></div>
            </div>
            <div class="yo"></div>
           </div>
        </div>

        <!-- quinze -->
        <div class="blu">
            <div>
             <div class="flex">
                 <div class="yo"></div>
                 <div class="yo green"></div>
             </div>
             <div class="flex">
                <div>
                    <div class="yo green"></div>
                    <div class="yo green"></div>
                </div>
                <div class="yo"></div>
             </div>
            </div>
         </div>

         <!-- dezesseis -->
        <div class="blu">
            <div>
             <div class="flex">
                 <div class="yo"></div>
                 <div class="yo"></div>
                 <div class="yo"></div>
             </div>
             <div class="flex">
                <div>
                    <div class="yo green"></div>
                    <div class="yo green"></div>
                </div>
                <div class="yo"></div>
             </div>
            </div>
         </div>


        <!-- dezessete -->
        <div class="blu">
            <div class="flex">
                <div>
                    <div class="flex">
                        <div>
                            <div class="flex">
                                <div class="yo"></div>
                                <div>
                                    <div class="yo"></div>
                                    <div class="yo"></div>
                                </div>

                            </div>
                            <div class="yo green"></div>
                        </div>
                                          
                        <div>
                            <div class="yo"></div>
                            <div class="yo red"></div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- dezoito -->
        <div class="blu">
            <div>
                <div class="flex">
                    <div class="yo"></div>
                    <div>
                        <div class="flex">
                            <div class="yo"></div>
                            <div class="yo"></div>
                        </div>
                        <div class="yo"></div>
                    </div>
                </div>
                <div class="flex">
                    <div class="yo green"></div>
                    <div class="yo"></div>
                </div>
            </div>
        </div>



    </div>

</body>
</html>

